.imgs-partenaires {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    margin: 0.25em;
    max-width: auto;
    height: 200px;
    background-color: white;
    border-radius: 0.25em;
    padding: 0.5em;
  }
}
